@use "../../scss/mixins";

main {
  .input {
    display: flex;
    justify-content: center;
    input {
      font-size: 1.5rem;
      padding-left: 0.2rem;
      width: 20rem;
      outline: none;
    }
  }
  .container {
    background: linear-gradient(
      90deg,
      rgba(38, 38, 191, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
  }
}

@include mixins.media-lg{
  main{
    .input{
      width: 100%;

      input{
        padding-left: 1rem;
        font-size: 3rem;
        margin: 0rem 2rem 0rem 2rem;
        width: 100%;
      }
    }
  }
  
}
