.container {

  
  div {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  h1{
    justify-self: center;
    margin: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: wheat;
  }
}
